<div class="span9">
    <table>

      <tr>
        <th>Name</th>
        <th>Content</th>
        <th>Price</th>
      </tr>

    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= city.content %></td>
        <td><%= city.price %> €</td>
      </tr>
      <tr>
        <td colspan="3">
          <%= link_to 'Show', city %>
          <%= link_to 'Edit', edit_city_path(city) %>
          <%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %>
          <hr>
        </td>
      </tr>
    <% end %>

    </table>

    <%= link_to 'New City', new_city_path %>
  </div>

